<div class="">
    <%= image_tag(@user.image.url) %>
    <h1><%= @user.username %></h1>
    <p class="user-data-follower">投稿数：<%= @user.books.count %></p>
    <section class="stats">
        <%= render 'shared/stats' %>
    </section>

    <%= render 'follow_form', user: @user if user_signed_in? %>
</div>
<%= render 'books/books' %>
