<div class="posts-wrapper">
  <div class="posts-heading">
    <h2>最新の口コミ</h2>
  </div>
  <% reviews.reverse.each do |review| %>
  <div class="newest-card">
    <div class="newest-image-inner">
        <%= link_to user_path(review.user.id) do %><%= image_tag(review.user.image.url, :class => "newest-image") %><% end %>
    </div>
    <div class="newest-right">
      <div>
        <h3><%= link_to user_path(review.user.id) do %><%= review.user.username %><% end %></h3>
        <p><%= link_to user_path(review.user.id) do %><%= review.content %><% end %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>

