<%= render 'index_top' %>
<%= render 'index_search' %>
<div class="index-col">
  <div class="index-inner">
    <%= render 'index_books' %>
    <%= render 'index_ranking' %>
  </div>
  <div class="index-inner">
    <%= render 'index_lastest_review', reviews: @reviews %>
  </div>
</div>
