<h3 class="review-header">投稿一覧</h3>

<div class="">
  <ul class="book-group">
    <% @books.each do |book| %>
      <%  if book.image.url %>
        <li class="book-list">
          <div><%= link_to book_path(book.id) do %><%= image_tag(book.image.url, size: '120x145') %><% end %></div>
          <div><%= link_to book_path(book.id) do %><%= book.name %><% end %></div>
          <div><%= link_to book_path(book.id) do %><%= book.author %><% end %></div>
        </li>
      <% else %>
        <li class="book-list">
          <div><%= link_to book_path(book.id) do %><%= image_tag "noimage.jpg", :size => '120x145' %><% end %></div>
          <div><%= link_to book_path(book.id) do %><%= book.name %><% end %></div>
          <div><%= link_to book_path(book.id) do %><%= book.author %><% end %></div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
