<div class="reviews review-inner">
    <div class="review-wrapper">
        <h3 class="review-header">口コミ</h3>
        <% @book_reviews.each do |review| %>
            <div class="review-wrap">
                <div class="review-flex">
                    <div class="review-img">
                        <p><%= image_tag(review.user.image.url, size: '50x50') %></p>
                    </div>
                    <div class="review-text">
                        <p class="review-username"><%= review.user.username %></p>
                        <p class="review-title"><%= review.title %></p>
                        <p class="review-content"><%= review.content %></p>
                        <span class="review-data"><%= review.created_at.to_s(:datetime_jp) %></span>
                    </div>
                </div>
            </div>
        <% end %>
        <%= paginate @book_reviews %>
    </div>
</div>
