<div class="sessions-wrapper">

<h2>書籍編集</h2>

<%= form_with(model: @book, local: true) do |f| %>
    <div class="sessions-field">
        <%= f.label :name, class: "sessions-label" %><br />
        <%= f.text_field :name, class: "sessions-label-input" %>
    </div>

    　<div class="sessions-field">
        <%= f.label :price, class: "sessions-label" %><br />
        <%= f.number_field :price, class: "sessions-label-input" %>
    </div>

    　<div class="sessions-field">
        <%= f.label :author, class: "sessions-label" %><br />
        <%= f.text_field :author, class: "sessions-label-input" %>
    </div>

    　<div class="sessions-field">
        <%= f.label :category, class: "sessions-label" %><br />
        <%= f.text_field :category, class: "sessions-label-input" %>
    </div>

    　<div class="sessions-field">
        <%= f.label :content, class: "sessions-label-content" %><br />
        <%= f.text_area :content, class: "sessions-label-input-content" %>
    </div>

    　<div class="sessions-field">
        <%= f.label :published_at, class: "sessions-label" %><br />
        <%= f.date_field :published_at, class: "sessions-label-input" %>
    </div>

    <div class="sessions-field">
        <%= f.label :published_by, class: "sessions-label" %><br />
        <%= f.text_field :published_by, class: "sessions-label-input" %>
    </div>
    <div class="actions">
        <%= f.submit "編集", class: "submit-btn"  %>
    <div>
<% end %>

</div>
