<%= @book.id %>
<%= form_with(model: @post, local: true) do |f| %>
    <div class="field">
        <%= f.text_area :name, placeholder: "書籍名" %>
    </div>

    <div class="field">
        <%= f.file_field :image %>
    </div>

    　<div class="field">
        <%= f.number_field :price, placeholder: "値段" %>
    </div>

    　<div class="field">
        <%= f.text_field :author, placeholder: "著者" %>
    </div>

    　<div class="field">
        <%= f.text_field :category, placeholder: "カテゴリー" %>
    </div>

    　<div class="field">
        <%= f.text_area :content, placeholder: "書籍内容" %>
    </div>

    　<div class="field">
        <%= f.date_field :published_at, placeholder: "出版日" %>
    </div>

    <div class="field">
        <%= f.text_field :published_by, placeholder: "出版社" %>
    </div>
    <%= f.submit "編集", class: "btn btn-primary" %>
<% end %>
