<div class="sessions-wrapper">

<h2>書籍詳細</h2>

<h3 class="book-name"><%= @book.name %></h3>
  <p class="author-name"><%= @book.author %></p>
  <div class="index-col">
    <div class="book-inner">
      <div class="review-wrapper">
        <div class="book-image">
        <%  if @book.image.url %>
          <p><%= image_tag(@book.image.url, size: '178x260') %></p>
        <% else %>
          <p><%= image_tag "noimage.jpg", :size => '178x260' %></p>
        <% end %>
          <div class="book-like" id="book_<%= @book.id %>">
            <%= render 'book_likes/book_like' %>
          </div>
        </div>
      </div>

      <div class="review-wrapper">
        <div class="book-content">
          <dl>
            <dt>本の内容</dt>
            <dd>
              <%= @book.content %>
            </dd>
            <dt>著者</dt>
            <dd>
              <%= @book.author %>
            </dd>
            <dt>値段</dt>
            <dd>
              <%= @book.price %>
            </dd>
            <dt>出版社</dt>
            <dd>
              <%= @book.published_at.strftime('%Y/%m/%d') %>
            </dd>
            <dt>出版日</dt>
            <dd>
              <%= @book.published_by %>
            </dd>
          </dl>
        </div>
        <% if current_user == @book.user %>
          <%= link_to "編集", edit_book_path, class: "btn-orange" %>
          <%= link_to '削除', @book, method: :delete, class: "btn-orange", data: { confirm: "投稿を削除します。\n本当に削除してよろしいですか？"} %>
        <% end %>
      </div>
    </div>
    <%= render "reviews" %>
  </div>
</div>
