

<h1><%= @book.name %></h1>
<p>投稿者：<%= @book.user.username %></p>
<p><%= image_tag(@book.image.url, size: '100x100') %></p>
<p><%= @book.content %></p>
<p><%= @book.author %></p>
<p><%= @book.price %></p>
<p><%= @book.published_at.strftime('%Y/%m/%d') %></p>
<p><%= @book.published_by %></p>

<% if current_user == @book.user %>
  <%= link_to "編集", edit_book_path %>
  <%= link_to '削除', @book, method: :delete %>
<% end %>

<div id="book_<%= @book.id %>">
  <%= render 'book_likes/book_like' %>
</div>

<%= render "reviews" %>
