<div class="sessions-wrapper">
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="sessions-field">
      <%= f.label :email, class: "sessions-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "sessions-label-input" %>
    </div>

    <div class="sessions-field">
      <%= f.label :password, class: "sessions-label" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "sessions-label-input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="sessions-field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="btn-wrapper">
      <%= f.submit "ログイン", class: "login-btn" %> <br>
      <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "guest-login-btn"  %>
    </div>
  <% end %>
</div>
